<form class="bet-form" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
  <div fxFlex="5%" fxLayoutAlign="center">
    <span class="indexText">#{{index+1}}</span>
  </div>
  <div fxFlex="25%">
    <img src="assets/images/horse1.jpg" class="horse-image">
  </div>
  <div fxFlex="25%" fxLayout="column" fxLayoutGap="5%">
    <span class="largeText">{{horse.name | titlecase}}</span>
    <span class="midText">{{horse.jockeyName | titlecase}}</span>
  </div>
  <div fxFlex="25%" fxLayout="column" fxLayoutGap="5%">
    <span> Races Won: <b>{{horse.raceWon}}</b></span>
    <span> Odds: <b>{{horse.odds}}</b></span>
  </div>
  <div fxFlex="10%" fxLayoutAlign="center" fxLayout="column">
    <mat-form-field style="width:100%">
      <input matInput placeholder="Enter Money" name="betMoney{{i}}" #betMoney required [(ngModel)]="money">
    </mat-form-field>
    <button mat-button color="primary" (click)="placeBet(horse.id)">Place Bet</button>
  </div>
</form>